.shadowbox1 {
    width: 70%;
    border: 1px salmon solid;
    padding: 5px 10px 20px 30px;
    margin: 15px 15px 40px 40px;
    background-color: wheat;
}
.shadowbox2 {
    width: 70%;
    border: 1px forestgreen solid;
    padding: 5px 10px 20px 30px;
    margin: 15px 15px 40px 40px;
    background-color: azure;
}

.phonenumber {
    color: indigo;
    font-weight: 800;
}